body {
    background-color: #b11313; /* Rojo Spider-Man */
    font-family: 'Arial Black', sans-serif;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.spider-container {
    background: white;
    border: 8px solid #000;
    max-width: 400px;
    text-align: center;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 10px 10px 0px #0058ab; /* Azul Spider-Man */
}

header {
    background-color: #0058ab;
    color: white;
    padding: 20px;
    border-bottom: 5px solid #000;
}

.hero-image img {
    width: 100%;
    height: auto;
}

.info-card {
    padding: 20px;
    line-height: 1.6;
}

.map-button {
    display: inline-block;
    margin-top: 20px;
    padding: 15px 25px;
    background-color: #b11313;
    color: white;
    text-decoration: none;
    border-radius: 50px;
    font-weight: bold;
    transition: transform 0.3s;
}

.map-button:hover {
    transform: scale(1.1);
    background-color: #000;
}
