:root {
    --red: #e23636;
    --blue: #0156b3;
    --yellow: #f9d837;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Bangers', cursive;
    background: #222 url('https://www.transparenttextures.com/patterns/brick-wall.png');
    height: 100vh;
    overflow: hidden; /* Bloquea el scroll vertical del cuerpo */
}

/* OVERLAY */
#intro-overlay {
    position: fixed; inset: 0;
    background: #d3d3d3; z-index: 1000;
    display: flex; flex-direction: column; justify-content: center; align-items: center;
    transition: 0.8s ease-in-out;
}
.overlay-hidden { transform: translateY(-100%); }

.btn-spider-action {
    background: var(--red); color: white; padding: 15px 40px;
    border: 4px solid #000; font-family: 'Bangers'; font-size: 2rem;
    cursor: pointer; box-shadow: 5px 5px 0 #000;
}

/* CONTENEDOR DE HOJAS (SCROLL HORIZONTAL) */
.comic-book-wrapper {
    display: flex;
    overflow-x: scroll; /* Permite scroll horizontal */
    overflow-y: hidden; /* Evita scroll vertical */
    scroll-snap-type: x mandatory; /* HACE QUE PASE DE HOJA EN HOJA */
    width: 100vw;
    height: 100vh;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch; /* Suavidad en iPhone */
}

/* CADA HOJA INDIVIDUAL */
.comic-page {
    flex: 0 0 100vw; /* Cada hoja mide exactamente el ancho de la pantalla */
    width: 100vw;
    height: 100vh;
    scroll-snap-align: start; /* El imán se pega al inicio de la hoja */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* EL PANEL BLANCO DENTRO DE LA HOJA */
.panel {
    background: white;
    border: 6px solid black;
    width: 85%;
    max-width: 350px;
    padding: 20px;
    box-shadow: 10px 10px 0 var(--blue);
    text-align: center;
}

/* SPIDEY VOLADOR */
.patrol-container {
    position: fixed; top: -100px; left: -150px;
    z-index: 500; pointer-events: none;
    animation: patrolFly 12s infinite linear;
}
.web-thread { width: 2px; height: 300px; background: white; margin-left: 50%; }
.spidey-flying { width: 100px; mix-blend-mode: multiply; }

@keyframes patrolFly {
    0% { transform: translateX(0) translateY(0); }
    50% { transform: translateX(110vw) translateY(50px); }
    100% { transform: translateX(125vw) translateY(0); }
}

/* DETALLES EXTRA */
.photo-frame img { width: 100%; border: 4px solid black; }
.info-box { background: var(--yellow); border: 3px solid black; margin: 10px 0; padding: 5px; }
.gallery-grid { display: grid; grid-template-columns: 1fr 1fr; gap: 5px; }
.comic-thumb { width: 100%; aspect-ratio: 1/1; object-fit: cover; border: 2px solid black; }
.btn-maps { background: var(--red); color: white; text-decoration: none; padding: 5px 10px; display: inline-block; border: 2px solid black; margin-top: 5px; }
.swipe-hint { color: var(--red); animation: blink 1s infinite; margin-top: 10px; }
@keyframes blink { 50% { opacity: 0; } }
